<!DOCTYPE html>
<html>
  <head>
    <title>Prosp API Docs</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag '/assets/stylesheets/application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='main'>
      <div class='main-header-desc-container'>
        <h1 class='dark-color main-title'>Prospr API Documentation</h1>
        <p class='dark-color main-description'>
          <span class='primary-color main-description-span'>Prospr</span> is an online platform that allows members of The Light of the World church practice economic self-consumption.
          Below you will find the endpoints necessary to do any <span class='primary-color main-description-span'>GET, POST, PATCH, DELETE</span> or <span class='primary-color main-description-span'>authentication</span> requests to our Ruby on Rails API.
          If you have any API bugs suggestions, or questions, please get in touch with the lead developer (Isaac Medina).
          <br />
          <br />
          This API was developed by <span class='primary-color main-description-span'>Zenyx LLC</span>.
        </p>
      </div>
      <div class='main-endpoints-container'>
        <h2>API Endpoints</h2>
        <div class='endpoint-container'>
          <h3>Authentication</h3>
          <p>Browser Login Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/browser_login</span>
          </div>
          <p>Pro Login Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/pro_login</span>
          </div>
          <p>Browser Register Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/browser_register</span>
          </div>
          <p>Pro Register Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/pro_register</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Payment Methods</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/payment_methods</span>
          </div>
          <p>PATCH / DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/payment_methods/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Recommendations</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendations</span>
          </div>
          <p>PATCH / DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendations/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Recommendation Images</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendation_images</span>
          </div>
          <p>DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendation_images/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Recommendation Comments</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendation_comments</span>
          </div>
          <p>PATCH / DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendation_comments/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Recommendation Likes</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendation_likes</span>
          </div>
          <p>DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/recommendation_likes/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Prosps</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosps</span>
          </div>
          <p>PATCH / DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosps/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Prosp Images</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosp_images</span>
          </div>
          <p>DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosp_images/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Prosp Comments</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosp_comments</span>
          </div>
          <p>PATCH / DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosp_comments/{id}</span>
          </div>
        </div>
        <div class='endpoint-container'>
          <h3>Prosp Likes</h3>
          <p>GET / POST Endpoint</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosp_likes</span>
          </div>
          <p>DELETE Endpoint | Parameters: id</p>
          <div class='endpoint-url-container'>
            <span class='primary-color endpoint-url'>http://localhost:4000/api/v1/prosp_likes/{id}</span>
          </div>
        </div>
      </body>
    </html>
